body {
    margin: 0;
    padding: 0;
    background: url(USD2.png);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.table-box {
    width: min-content;
    height: min-content;
    background: rgba(1, 1, 1, 1);
    color: #fff;
    top: 135%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 20px 60px;
    border-radius: 40px;
}

.login-box {
    width: 320px;
    height: 520px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 20px 30px;
    border-radius: 20px;
}

h1 {
    margin: 0;
    margin-top: 20px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

h2 {
    margin: 0;
    margin-top: 20px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color:white;
}

.login-box p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: wheat;
    border-radius: 20px;
}

.login-box input[type="submit"]:hover {
    cursor: pointer;
    background: black;
    color: #1c8adb;
}

.login-box a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}

.login-box a:hover {
    cursor: pointer;
    color: blue;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    overflow: auto;
    height: 100%;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: rgb(37, 37, 37);
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: absolute;
    }
    .sidebar a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

* {
    box-sizing: border-box;
}

.leftcolumn {
    float: left;
    width: 75%;
    margin-top: 320px;
}


/* Right column */

.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}


/* Add a card effect for articles */

.card {
    background-color: white;
    padding: 20px;
    margin-top: 40px;
}

.carda {
    background: rgb(37, 37, 37);
    position: fixed;
    width: 100%;
    margin-left: 200px;
    margin-right: -10px;
    height: 35%;
    z-index: 0;
}

.carda input.carda{
    margin: 100px;
    padding: 50px
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Footer */


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 800px) {
    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}


textarea{
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: -20px;
    width: 50%;
}

.tambah{
    margin-left: 25%;
}


.table-bordered{
    margin-top: 350px;
    margin-left: 10%;
}

.table-bordered td {
    color: white;
    
}
.table-bordered th {
    color: white;
    
}


